<!-- application-form.component.html -->
<div class="application-form-container" dir="rtl">
  <form [formGroup]="applicationForm" (ngSubmit)="onSubmit()" class="form-content" *ngIf="!isSubmitted; else successTemplate">
    
    <!-- Phone Number -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>رقم الجوال</mat-label>
      <span matSuffix>+966 &nbsp;</span>
      <input matInput formControlName="phoneNumber" placeholder="5XXXXXXXX" type="tel" maxlength="9">
      <mat-icon matPrefix>phone</mat-icon>
      <mat-error *ngIf="applicationForm.get('phoneNumber')?.hasError('required')">رقم الجوال مطلوب</mat-error>
      <mat-error *ngIf="applicationForm.get('phoneNumber')?.hasError('pattern')">يجب أن يبدأ بـ 5 ويتكون من 9 أرقام</mat-error>
    </mat-form-field>

    <!-- Full Name -->
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>الاسم الكامل</mat-label>
      <input matInput formControlName="fullName">
      <mat-icon matPrefix>person</mat-icon>
      <mat-error *ngIf="applicationForm.get('fullName')?.hasError('required')">الاسم الكامل مطلوب</mat-error>
    </mat-form-field>

 

 <mat-form-field appearance="outline" class="w-100">
  <mat-label>الهوية الوطنية</mat-label>
  <input matInput formControlName="nationalId" type="text" maxlength="10">
  <mat-icon matPrefix>badge</mat-icon>

  <mat-error *ngIf="applicationForm.get('nationalId')?.hasError('required')">
    رقم الهوية مطلوب
  </mat-error>
  <mat-error *ngIf="applicationForm.get('nationalId')?.hasError('invalidFormat')">
    رقم الهوية يجب أن يتكون من 10 أرقام
  </mat-error>
  <mat-error *ngIf="applicationForm.get('nationalId')?.hasError('invalidStart')">
    رقم الهوية يجب أن يبدأ بـ 1 (مواطن) أو 2 (مقيم)
  </mat-error>
  <mat-error *ngIf="applicationForm.get('nationalId')?.hasError('invalidCheckDigit')">
    رقم الهوية غير صحيح
  </mat-error>
</mat-form-field>



    <mat-form-field appearance="outline" class="w-100">
      <mat-label>رسالة إضافية (اختياري)</mat-label>
      <textarea matInput formControlName="message" rows="3"></textarea>
      <mat-icon matPrefix>message</mat-icon>
    </mat-form-field>

    <!-- Submit Button -->
    <div class="form-actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="applicationForm.invalid || isSubmitting">
        <span *ngIf="!isSubmitting">تقديم  الطلب</span>
        <span *ngIf="isSubmitting">جاري الإرسال...</span>
        <mat-icon *ngIf="!isSubmitting">send</mat-icon>
        <mat-spinner *ngIf="isSubmitting" diameter="24"></mat-spinner>
      </button>
    </div>
  </form>

  <ng-template #successTemplate>
    <div class="success-message text-center">
      <mat-icon class="success-icon">check_circle</mat-icon>
      <h3>تم تقديم  طلبك بنجاح!</h3>
      <p>سنتصل بك في أقرب وقت لاستكمال إجراءات التمويل</p>
      <button mat-raised-button color="primary" (click)="onReset()">
        تقديم طلب جديد
      </button>
    </div>
  </ng-template>
</div>