<footer  class="ad-footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 text-center text-md-start">
                <span>تواصل معنا  :</span>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <div class="ad-contact">
  <i class="bi bi-phone"></i>
                    <a href="tel:+966598505540" class="phone-link">598505540</a>
                </div>
            </div>
        </div>
    </div>
</footer>